/* 
any of these are good: Cantarell, Molengo, Nobile
(...none are really necessary)
@import url(http://fonts.googleapis.com/css?family=Nobile);
html, body { font-family: 'Nobile', sans-serif }
*/

/* basics: after css-reset-fonts-grids */
h1.title { font-size: 167%; margin-bottom: 1em }
h1 { font-size: 138.5%; font-weight: bold; margin-bottom: 0.5em }
h2 { font-size: 123.1%; font-weight: bold; margin: 0.5em 0 }
h3 { font-size: 108%; font-weight: bold }
h4, h5, h6 { font-size: 108% }
p, table { margin: 0.5em 0 }
strong { font-weight: bolder }
em { font-style: italic }
blockquote { margin: 1em; padding: 1em; border: 2px solid #eee }
textarea { padding-left: 3px }

/* header and footer: diminished visibility, separation from content, some items float right */
#hd { color: #444; }
#hd a { color: #44f; }
#hd { text-align: right; }
#hd .menu { display: inline; padding-left: 1em; margin-bottom: 0.5em; }
#hd .menu li { display: inline; }
#hd .menu li.head:before { content: ""; }
#hd .menu li.head:after { content: ""; }
#hd .menu li:before { content: "["; }
#hd .menu li:after { content: "]"; }
#hd #messages { clear: both; text-align: left; background: #ddd; }
#hd #messages .error { color: #b00; }
html, body { background: #eee }
#bd { background: #fff; padding: 1em; border: 2px solid #ddd }
#ft { color: #888; }
#ft a { color: #88f; }
#ft { text-align: center; }

/* links: a tad less ugly */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* nested blocks of text: */
/*code, blockquote { padding: 2em } */
pre {
  display: block;
  background: #eee;
  margin: 1em;
  padding: 2px 1em;
}

/* tables */
td, th { text-align: center; padding: 0 3px }
thead { border-bottom: 2px solid black }

/* docutils output */
.system-messages { border: thin solid #f88 ; background: #fee }
.system-message { border: thin solid #f00 ; background: #fee }

/* forms: */
textarea { width: 100%; font-family: monospace }

/* ...other custom styles... */

form .openid_url {
  background: #fff url('/openid-login-bg.gif') no-repeat scroll 0pt 50%;
  padding-left: 18px;
}
.error { color: red }
.error #bd { color: black ; background: #fee; border: 2px solid #f00 }
.subtotals { font-weight: bolder ; background: #eee; }
.totals { font-weight: bolder ; background: #ddd; }
input.play-input { width: 100% }
